{*
//$perms = associative array of permissions
//$record_editable = True if the current record is editable
//$can_add_new_related_record
//$can_add_existing_related_record
//$link,$query (for new related record)
//$link2, $query2 (for existing related record)
//$link3, $query3 (for import related records)
//$importTable - Dataface_Table of the destination table.
//$related_list_actions - 
*}
 
<div class="xf-related-list-top xf-related-list-bar {if !$relatedList->hideActions}xf-button-bar{else}hidden{/if}">
	{capture assign=related_list_bar}
		{if !$relatedList->hideActions}
			<div class="resultlist-controller related-list-controller">
				{capture assign="relatedResultController"}
					{include file="xataface/RelatedList/result_controller.html"}
				{/capture}
				{$relatedResultController}
		
			</div>
		{/if}
	
	
		{if !$relatedList->hideActions and ($record_editable or $can_add_new_related_record or $can_add_existing_related_record)}
			
			<div class="xf-button-bar-actions">
				{actions_menu category="related_list_actions" relationship=$relatedList->_relationship_name mincount=1 maxcount=7}
				
				<ul>
					
					{if $import_related_records_query and $importTable->getImportFilters()|@count > 0 }
						<li id="import">
							<a id="import_related_records" href="{$link3|escape}">
								{translate id="scripts.Dataface.RelatedList.toHtml.LABEL_IMPORT_RELATED_RECORDS" relationship=$relationship_label|escape}
									Import {$relationship_label|escape} Records
								{/translate}
							</a>
						</li>
					{/if}
				</ul>
			</div>
			
			<div style="clear:both; height: 1px;"></div>
			
		{/if}
		{if  !$relatedList->hideActions }
		
			<div class="result-tools" style="float:left">
				<script language="javascript" type="text/javascript" src="{$searchSrc|escape}"></script>
				<!--<a href="#" onclick="Dataface.RelatedList.showSearch('{$relname|escape}', document.getElementById('related_find_wrapper')); return false;" title="Filter these results"><img src="{$imgIcon|escape}" alt="Filter" /></a>-->
				
			</div>
		
		
		{/if}
	{/capture}
	{$related_list_bar}
	
</div>

{if $treetable}
	{$treetable}
{else}
	{$moveUpForm}
	{if !$relatedList->hideActions and $relatedList->_where}
		{assign var=relatedSearchKey value="-related:search"}
		<div>Showing matches for query <em>&quot;{$filterQuery.$relatedSearchKey|escape}&quot;</em>
		<a href="{$app->url('-related:search=')|escape}" title="Remove this filter to show all records in this relationship">
			<img src="{$smarty.const.DATAFACE_URL|escape}/images/delete.gif" alt="Remove filter" />
		</a>
		</div>
	{/if}
	<div style="display:none" id="related_find_wrapper"></div>
	{if $records|@count > 0 }
		{$related_table_html}
		
		
		{if !$relatedList->hideActions }
		
			<div class="xf-related-list-bottom xf-related-list-bar {if !$relatedList->hideActions}xf-button-bar{else}hidden{/if}">
				{$related_list_bar}
			</div>
			
			<script language="javascript" src="{$prototype_url|escape}"></script>
			<script language="javascript" src="{$scriptaculous_url|escape}"></script>
			<script language="javascript" src="{$effects_url|escape}"></script>
			<script language="javascript" src="{$dragdrop_url|escape}"></script>
			<script>{literal}
				function removeUnauthorizedColumns(){
					var relatedList = document.getElementById('relatedList');
					var trs = relatedList.getElementsByTagName('tr');
					var viewableColumns = [];
					var numCols = 0;
					for (var i=0; i<trs.length; i++){
						var tr = trs[i];
						var tds = tr.getElementsByTagName('td');
						for (var j=0; j<tds.length; j++){
							var td = tds[j];
							if ( td.className.indexOf('viewableColumn') >= 0 ){
								viewableColumns[j] = true;
							}
							numCols = j;
						}
					}
					for (var j=viewableColumns.length; j<=numCols; j++){
						viewableColumns[j] = false;
					}
					
					
					for (var i=0; i<trs.length; i++){
						var tds = trs[i].getElementsByTagName('td');
						if ( tds.length <= 0 ){
							var tds = trs[i].getElementsByTagName('th');
						}
						
						for (var j=0; j<viewableColumns.length; j++){
							if ( !viewableColumns[j] ){
								tds[j].parentNode.removeChild(tds[j]);
								//tds[j].style.display = 'none';
							}
						}
						
					}
				}
				removeUnauthorizedColumns();
				
				
				if ( {/literal}{$sortable_js}{literal} ){
					Sortable.create("relatedList-body",
							{
								dropOnEmpty:true,
								constraint:false, 
								//handle:'move-handle',
								tag:'tr',
								onUpdate: function(container){
									
									var params = Sortable.serialize('relatedList-body');
									params += '&'+window.location.search.substring(1);
									
									params += '&-action=reorder_related_records';
									
									new Ajax.Request(
										DATAFACE_SITE_HREF, {
											method: 'post', 
											parameters: params, 
											onSuccess: function(transport){
												
												//document.getElementById('details-controller').innerHTML = transport.responseText;
											},
											onFailure:function(){
												alert('Failed to sort records.');
											}
										}
									);
									
								}
								//only:'movable'
							});
						//Sortable.create("dataface-sections-main",
						//{dropOnEmpty:true,constraint:false, handle:'movable-handle',tag:'div',only:'movable', onUpdate:updateSections});
				}	
			
			{/literal}</script>
			

		{/if}
	
	{else}
	
		<p>{translate id="scripts.GLOBAL.NO_RECORDS_MATCHED_REQUEST"}No records matched your request.{/translate}</p>
	{/if}

	
		
{/if}