# Apache 2.2
<IfModule !mod_authz_core.c>
    Deny from all
</IfModule>

# Apache 2.4
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>
ErrorDocument 403 "403 Access Restricted.  <a href='installer.php'>Go to installer</a>"
<FilesMatch "\.(png|jpg|gif|GIF|PNG|JPG|jpeg|JPEG|ICO|js|css|html|xml)$">
    # Apache 2.2
    <IfModule !mod_authz_core.c>
        Allow from all
    </IfModule>
    
    # Apache 2.4
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
</FilesMatch>
<FilesMatch "(installer\.php|index\.php|install_form.js.php)$">
	# Apache 2.2
    <IfModule !mod_authz_core.c>
        Allow from all
    </IfModule>
    
    # Apache 2.4
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
</FilesMatch>
