{use_macro file="Dataface_Main_Template.html"}
	{fill_slot name="main_column"}
		<div id="change-password-form" style="display:none">
			<h1>{translate id="actions.change_password.heading"}Change Password{/translate}</h1>
			
			<form action="{$ENV.DATAFACE_SITE_HREF}" method="post">
				<input type="hidden" name="-action" value="change_password"/>
				
				<table>
					<tr>
						<th>
							<label>{translate id="actions.change_password.label.old_password"}Old Password{/translate}</label>
						</th>
						<td>
							<input type="password" name="--current-password" id="--current-password"/>
						</td>
					</tr>
					<tr>
						<th>
							<label>{translate id="actions.change_password.label.new_password"}New Password{/translate}<label>
						</th>
						<td>
							<input type="password" name="--password1" id="--password1"/>
						</td>
					<tr>
						<th>
							<label>{translate id="actions.change_password.label.retype_new_password"}Retype New Password{/translate}</label>
						</th>
						<td>
							<input type="password" name="--password2" id="--password2"/>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="submit-cell">
							<input type="submit" value="{translate id="actions.change_password.submit_label"}Change Password{/translate}" id="change-password-submit"/>
						</td>
					</tr>
				
				
				</table>
			
			</form>
		
		</div>
		
		<div id="change-password-complete" style="display:none">
		
			<h1>{translate id="actions.change_password.password_changed"}Password Successfully Changed{/translate}</h1>
		
		</div>
	
	{/fill_slot}

{/use_macro}