{use_macro file="Dataface_Main_Template.html"}
    {fill_slot name="h1"}
        {if $hasPassword}
		    <h1>{translate id="actions.change_password.heading"}Change Password{/translate}</h1>

        {else}
            <h1>{translate id="actions.change_password.createpass"}Create Password{/translate}</h1>
            
            
        {/if}
    {/fill_slot}
	{fill_slot name="main_column"}
	<div class="responsive-content">
		<div id="change-password-form" style="display:none">
            {if $hasPassword}
			    
                
                <p class="formHelp">
                    This form allows you to change your password
                </p>
            {else}
                
                
                <p class="formHelp">Use this form to create a password so that you can login to the system directly without the need to send an email link.</p>
            {/if}
            
            
			
			<form action="{$ENV.DATAFACE_SITE_HREF|escape}" method="post">
				<input type="hidden" name="-action" value="change_password"/>
				
				<table class="Dataface_QuickForm-table-wrapper xf-form-group" width="100%">
                    {if $hasPassword}
					<tr>
						<td class="Dataface_QuickForm-label-cell">
                            <div class="field">
                                <label>{translate id="actions.change_password.label.old_password"}Old Password{/translate}</label>
                            </div>
                        </td>
						<td class="Dataface_QuickForm-widget-cell">
                            <div class="field">
                                <div>
                                    <input type="password" name="--current-password" id="--current-password"/>
                                </div>
                                <div class="formHelp">
                                    Just to verify it's you, please enter your current password
                                </div>
                            </div>
						</td>
					</tr>
                    {/if}
					<tr>
						<td class="Dataface_QuickForm-label-cell">
                            <div class="field">
                                <label>
                                    {if $hasPassword}
                                        {translate id="actions.change_password.label.new_password"}New Password{/translate}
                                    {else}
                                        {translate id="actions.change_password.label.password"}Password{/translate}
                                    {/if}
                                <label>
                            </div>
						</td>
						<td class="Dataface_QuickForm-widget-cell">
                            <div class="field">
                                <div>
                                    <input type="password" name="--password1" id="--password1"/>
                                </div>
                                <div class="formHelp">
                                    
                                </div>
                            </div>
                            
						</td>
					<tr>
						<td class="Dataface_QuickForm-label-cell">
                            <div class="field">
                                <label>{translate id="actions.change_password.label.retype_new_password"}Retype New Password{/translate}</label>
                            </div>
						</td>
						<td class="Dataface_QuickForm-widget-cell">
                            <div class="field">
                                <div>
                                    <input type="password" name="--password2" id="--password2"/>
                                </div>
                                <div class="formHelp">
                                        
                                </div>
                            </div>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="submit-cell">
                            {if $hasPassword}
                                <input type="submit" value="{translate id="actions.change_password.submit_label"}Change Password{/translate}" id="change-password-submit"/>
                            {else}
                                <input type="submit" value="{translate id="actions.change_password.create_password"}Create Password{/translate}" id="change-password-submit"/>
                            {/if}    
						</td>
					</tr>
				
				
				</table>
			
			</form>
		
		</div>
		
		<div id="change-password-complete" style="display:none">
		
			<h1>{translate id="actions.change_password.password_changed"}Password Successfully Changed{/translate}</h1>
            
            
            {actions_menu category="password_changed_actions" class="xf-horizontal-menu"}
		
		</div>
	</div>
	{/fill_slot}

{/use_macro}