{use_macro file="Dataface_Main_Template.html"}
	{fill_slot name="main_section"}
	
		<div class="forgot-password-form">
			<div class="portalMessage status-message" {if !$error}style="display:none"{/if}>{if $error}{$error|escape}{/if}</div>
			<script src="{$ENV.DATAFACE_URL}/js/jquery.packed.js"></script>
			<script src="{$ENV.DATAFACE_URL}/js/forgot_password.js"></script>
			<h1>{translate id="forgot_password.heading"}Request Password Reset{/translate}</h1>
			
			<div class="forgot-password-form-fields">
				<select id="reset-password-by">
					<option value="email">{translate id="forgot_password.options.email"}My Email Address is:{/translate}</option>
					<option value="username">{translate id="forgot_password.options.username"}My username is:{/translate}</option>
				</select>
				
				<input type="text" id="email-or-username"/>
				
				<input type="button" id="submit-button" value="{translate id="templates.Dataface_submit_translation.LABEL_SUBMIT"}Submit{/translate}"/>
                                
                                <p><a href="{$ENV.DATAFACE_SITE_HREF}?-action=login">{translate id="forgot_password.login_now"}Login Now{/translate}</a></p>
			</div>
		
		</div>
	
	{/fill_slot}
{/use_macro}