{use_macro file="Dataface_Main_Template.html"}

	{fill_slot name="main_section"}
		<div class="forgot-password password-reset-div">
			<h1>{translate id="Your password has been reset"}Your Password has been Reset{/translate}</h1>
			
			<p>{translate id="new password generated"}A new password has been generated and sent to you via email.{/translate}</p>
			
			<p>{translate id="Please login using temporary password"
                            loginurl="`$ENV.DATAFACE_SITE_HREF`?-action=login"}
                            <a href="{$ENV.DATAFACE_SITE_HREF}?-action=login">Please Login</a> using this temporary password.  Once logged in, you can change your password by editing your user profile.
                           {/translate}
                        </p>
		</div>
	
	{/fill_slot}
{/use_macro}