{use_macro file="Dataface_Main_Template.html"}

	{fill_slot name="html_body"}
		
		<h1>View Test</h1>
		
		
		<div id="tpl1">
			<table>
			
				<tr>
					<td>
						<span>First Name</span>
					</td>
					<td>
						<span data-kvc="firstName">John</span>
					</td>
				</tr>
				<tr>
					<td>
						<span>Last Name</span>
					</td>
					<td>
						<span data-kvc="lastName">Smith</span>
					</td>
				</tr>
				
			</table>
		
		</div>
		
		<div id="wrapper1">
		
		
		</div>
	
	{/fill_slot}
{/use_macro}