@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body.small {
    overflow-x: hidden;
    height: 100%;
}

body.large .sidemenu.header, 
body.large .sidemenu.main, 
body.large #sidebarMenu,
body.large #openSidebarMenu
 {
    display:none;
    
}

@media only screen and (min-width:768px) {
    .sidemenu.header, 
    .sidemenu.main, 
    #sidebarMenu,
    #openSidebarMenu {
        display:none;
    }
}

body.small {
    background: var(--mainBgColor);
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
body.small .sidemenu.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: var(--mobileStatusBarBgColor);
    position: fixed;
    height: 60px!important;
    /*overflow: hidden;*/
    z-index: 10;
    border-bottom: 1px solid var(--mobileStatusBarBorderColor);
}
body.small .sidemenu.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
body.small .sidemenu.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
body.small .sidemenu.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
body.small #sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background-color: var(--mobileStatusBarBgColor);
    border-bottom: 1px solid var(--mobileStatusBarBorderColor);
    z-index:1;
}
body.small .sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
body.small .sidebarMenuInner li{
    list-style: none;
    color: var(--sidebarMenuTextColor);
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
body.small .sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: var(--sidebarTextColor);
}
body.small .sidebarMenuInner li a{
    color: var(--sidebarMenuTextColor);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
body.small input[type="checkbox"].sidemenu:checked ~ #sidebarMenu {
    transform: translateX(0);
}

body.small input[type=checkbox].sidemenu {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
body.small .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
body.small .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: var(--mainBgColor);
}
body.small .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
body.small .diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
body.small .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
body.small input[type=checkbox].sidemenu:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
body.small input[type=checkbox].sidemenu:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
body.small input[type=checkbox].sidemenu:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}